<% if signed_in? %>
    <div class="row">
      <aside class="span4">
        <section>
          <%= render 'shared/user_info' %>
        </section>
      
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>

	</aside>
      <div class="span8">
        <h3>MicroMessage Feed</h3>
        <%= render 'shared/feed' %>
      </div>
    </div>
<% else %>
    <div class="row">
    <div class="center col-md-8">
      <h1>Welcome to MicroMessage</h1>

      <h2>
        This is the home page for the
        MicroMessage application.
      </h2>
    </div>
  
  <div class="span3 col-md-4 offset4" >
    <%= form_for(:session, url: sessions_path) do |f| %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.submit "Sign in", class: "btn btn-large btn-danger" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path , {:style=>'color:#FF0000;'}%></p>
  </div>
  
</div>

    
<% end %>
