<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <section>
      <%= gravatar_for @user %>
      <h1><%= @user.name %></h1>
      <span><%= link_to "view my profile", @user %></span>
      <span><b>Microposts:</b> <%= @user.microposts.count %></span>
    </section>
  </aside>
  <div class="span8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
	<ol class="microposts">
   		 <%= render partial: 'shared/feed_item', collection: @users %>
  	</ol>
  	<%= will_paginate @users %>
    <% end %>
  </div>
</div>
